<div class="main">
    <div class="left">
        <div class="text">
        <p class="first">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint itaque distinctio ipsum consequuntur cupiditate magni saepe modi vitae, cumque, alias provident accusantium facilis praesentium, minima laudantium quae natus ut quaerat.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores rerum libero commodi ipsa incidunt exercitationem quos, laboriosam numquam molestias. Reprehenderit cupiditate blanditiis numquam explicabo suscipit et ullam officia accusantium excepturi?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil </p>
        </div>
        <div class="image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf2dXvuLCdxjv6CHY2qmpl3A6zx2OWSrixg&s" alt="">   
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum magnam aliquam, possimus ex quis commodi facilis eius, natus, recusandae voluptatum omnis. Voluptas sint pariatur laudantium nam cupiditate autem ea iusto?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate deserunt nesciunt commodi, exercitationem consequatur quaerat dolore! Inventore dolore eveniet at maxime tempore. Sed temporibus, saepe voluptates quasi porro repudiandae minus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, enim doloribus incidunt officiis inventore odio voluptas corporis illum dolores porro, nulla quibusdam unde cum maxime eligendi atque, earum quasi beatae. </p>
    </div>
    <div class="right">
        <div class="links"></div>

        <hr>
        <div class="center">
            <div><h2> People </h2></div>
            <div class="people">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf2dXvuLCdxjv6CHY2qmpl3A6zx2OWSrixg&s" alt="" class="icon">
                <p class="text-people">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <hr>
        <div class="bottom">
            <div><h2> Subscribe </h2></div>
            <div class="email">
                <div class="email-input">
                    <input type="text" placeholder="Enter your email">
                </div>
                <div class="email-button">
                    <button>Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>

