<div>
    <div class="main-introduction">
        <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit!</h1>
    </div>
    <div class="main-aside">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore praesentium, eligendi omnis temporibus ex accusantium eaque recusandae minus soluta nemo consequatur? Voluptates vel accusamus quos minus illo molestiae repudiandae aspernatur!</p>
    </div>
    <div class="main-buttons">
        <app-main-button buttonText="Design"/>
        <app-main-button buttonText="Product"/>
        <app-main-button buttonText="Read more"/>
    </div>
</div>
