<header>
    <div id="header">
        <div id="header-top">
            <div><app-menu/></div>
        </div>
        <div id="header-bottom">
            <app-main-description/>
        </div>
    </div>
</header>
<main>
    <app-card cardImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf2dXvuLCdxjv6CHY2qmpl3A6zx2OWSrixg&s" cardTitle="title" cardText="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi assumenda explicabo rem minus laudantium, beatae omnis optio nam eaque similique adipisci alias dolores quaerat doloremque quo ab enim illum vel."/>
</main>
