<header>
    <div id="header">
        <div id="header-top">
            <div><app-menu/></div>
        </div>
        <div id="header-bottom">
            <app-main-description/>
        </div>
    </div>
</header>
<main>
    <section class="main-text">
        <app-text-section></app-text-section>
    </section>
    <section class="main-articles">
        <div>
            <app-card Id="1" cardImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf2dXvuLCdxjv6CHY2qmpl3A6zx2OWSrixg&s" cardTitle="Lorem" cardText="Lorem"></app-card>
            <app-card Id="2" cardImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf2dXvuLCdxjv6CHY2qmpl3A6zx2OWSrixg&s" cardTitle="Lorem" cardText="Lorem"></app-card>
        </div>
    </section>
</main>
